<div class="container text-center">
   <h1 class="text text-danger mb-3">ATN STORE SYSTEM</h1>
   <a class="btn btn-outline-primary" href="/Toy">Admin Site</a>
   <a class="btn btn-outline-success" href="/Toy/Buy">Customer Site</a>
</div>

    <div class="carousel-item active">
      <img src="https://toplist.vn/images/800px/dia-chi-ban-do-choi-tre-em-uy-tin-nhat-tai-ha-noi-904402.jpg" width="150" height="550" class="d-block w-100" alt="...">
    </div>
    

